# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.firebase
.npmrc

# temp
temp.vue
app/components/dev/
*__dev*

# images
works
works-no-shadow
_ipx

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.local
