@font-face {
  font-family: 'Syne';
  font-weight: 800;
  font-display: auto;
  src: url('s800.woff2') format('woff2');
}

@font-face {
  font-family: 'Syne';
  font-weight: 400;
  font-display: auto;
  src: url('s400.woff2') format('woff2');
}
