
# for OVH hosting - cache controle & redirect for https
<FilesMatch "\.(js|svg|css)$">
    Header set Cache-Control "max-age=31536000"
</FilesMatch>

<FilesMatch "\.(webp|woff2)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

RewriteEngine On
RewriteCond %{ENV:HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
